/* global styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    background-color: #fff;
    height: 100vh;
    /* max-height: 100vh; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header,
ul,
main,
.info>button,
.select-drink,
.social-media,
.container {
    display: flex;
    position: relative;
}

/* global styles end */

/* header style start */
header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
}

.menu ul {
    gap: 30px;
}

.menu a {
    color: #252525;
    position: relative;
    font-size: 18px;
}

.menu a::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #017143;
    position: absolute;
    bottom: -3px;
    left: -5%;
    transition: 0.5s width;
}

.menu a:hover {
    color: #017143;
}

.menu a:hover::after {
    width: 110%;
    transition: 0.5s width;
}

/* header style end*/

/* main style start*/

main {
    width: 100%;
    height: 77.7%;
}

.info,
.drink-preview {
    width: 50%;
    padding: 30px;
}

.call-attention {
    width: 400px;
}

.info button,
.info button::after {
    border-radius: 20px;
}

.social-media {
    position: absolute;
    right: 0;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    z-index: 1;
}

.social-media img {
    width: 25px;
    cursor: pointer;
}

.call-attention {
    color: #252525;
    font-size: 60px;
    font-weight: lighter;
}

.call-attention b {
    color: #017143;
    font-size: 65px;
}

.info p {
    margin: 20px 0;
    color: #252525;
    line-height: 24px;
}

.info button {
    width: 50%;
    height: 40px;
    background-color: #fff;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid #252525;
    cursor: pointer;
    transition: 20s border;
}

.info button p {
    position: relative;
    z-index: 1;
    color: #252525;
    font-weight: bold;
}

.info button::after {
    content: "";
    position: absolute;
    background-color: #017143;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s width, 0.3s opacity;
}

.info button:hover::after {
    width: 100%;
    opacity: 1;
    transition: 0.3s width, 0.5s opacity;
}

.info button:hover p {
    color: #fff;
}

.select-drink {
    width: 100%;
    justify-content: flex-end;
    gap: 17px;
    margin: 20px 0;
}

.select-drink img {
    width: 12%;
    cursor: pointer;
}

.drink-preview {
    position: relative;
}

.drink-preview .circle-bg {
    background-color: #017143;
    width: 90%;
    height: 100%;
    border-radius: 50% 0 0 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.drink-preview .container {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -50px;
    bottom: 20px;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.drink-preview .container img {
    width: 330px;
    display: none;
}

.drink-preview .container .show {
    display: block;
    animation: drinkSelected 1s both;
}

/* main style end*/

/* animations style start*/
@keyframes drinkSelected {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-15deg);
    }

}

/* animations style end*/